// menu classes and animations
.menu-btn {
  //button is always on top and in top-right corner
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include ease-out;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    @include ease-out;
  }

  // rotate menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //first line becomes part of the x
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //second line hides
      &:nth-child(2) {
        opacity: 0;
      }
      //third line also part of the x
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
