// menu classes and animations
.menu-btn {
  //button is always on top and in top-right corner
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include ease-out;

  //make menu button lines
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include ease-out;
  }

  // menu icon rotation animation
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //first line becomes part of the x
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //second line hides
      &:nth-child(2) {
        opacity: 0;
      }
      //third line also part of the x
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//overlay initial state hidden, displays after adding show class
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  //branding and nav bar are centered columns
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  //initial hidden state of nav bar smaller, becomes opaque and larger after show
  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 5), 0.8);
    list-style: none;
    opacity: 0;
    transform: scale(0.8, 0.8);

    @include ease-out;

    &.show {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  //initial hidden state of branding and profile image is below
  &-branding {
    background: rgba($primary-color, 0.8);
    transform: scale(0.8, 0.8);
    opacity: 0;
    @include ease-out;

    &.show {
      transform: scale(1, 1);
      opacity: 1;
    }

    //profile image stylings with border
    .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/amos_profile_small.jpeg);
      background-size: cover;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  //nav items grow in size for transition
  .nav-item {
    opacity: 0;
    transform: scale(0.7, 0.7);
    @include ease-transition;
    &.show {
      opacity: 1;
      transform: scale(1, 1);
    }

    //current page highlighted with color
    &.current > a {
      color: $secondary-color;
    }

    //nav link styling
    .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: set-text-color($primary-color);

      //highlight options on hover
      &:hover {
        @include ease-out;
        color: lighten($secondary-color, 5);
      }
    }
  }
}
//for loop for delaying each nav-link slide in for cascade effect
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
